[user]
        name = Lou Marvin Caraig
        email = loumarvincaraig@gmail.com
[alias]
        tree = log --graph --decorate --pretty=format:'%C(bold yellow)%h%Creset -%C(auto)%d %s %C(bold cyan)(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit
        start = "!f(){ git init . && git commit --allow-empty -m \"Initial commit\"; }; f"
        amend = "!f(){ git commit -a --fixup=head && git rebase -i --autosquash head^^; }; f"
        rebaster = "!f(){ current_branch=$(git rev-parse --abbrev-ref HEAD) && git fetch && git checkout master && git reset --hard origin/master && git checkout $current_branch && git rebase -i master; }; f"
        rebush = "!f(){ current_branch=$(git rev-parse --abbrev-ref HEAD) && git fetch && git checkout master && git reset --hard origin/master && git checkout $current_branch && git rebase master && git push origin $current_branch; }; f"
        fpush = "!f(){ current_branch=$(git rev-parse --abbrev-ref HEAD) && git push -f origin $current_branch; }; f"
        rebabort = "!f(){ git reflog | grep -v rebase | head -1 | sed -e \"s/^\\([[:alnum:]][[:alnum:]]*\\)\\(.*\\)/\\1/g\" | git reset --hard; }; f"
        backup = "!f(){ current_branch=$(git rev-parse --abbrev-ref HEAD) && git checkout -b \"${current_branch}_tmp\" && git checkout $current_branch; }; f"
        publish-tag = "!f(){ git tag -a v\"$1\" -m 'version '\"$1\" && git push origin --tags; }; f"
[core]
        editor = emacs -nw
        excludesfile = ~/.gitignore_global
[help]
        autocorrect = 1
